.avatar_img {
    width: 6rem;
    height: 6rem;

    border-radius: 50%;
    object-fit: cover;

    border: 4px solid whitesmoke;
    position: relative;
    top: 1.5rem;


}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium';

    background-image: url(Background.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

}

header {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: white;
    margin-top: 2rem;
    margin-bottom: 30px;


    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    position: absolute;

    top: 8px;
    right: 26px;

    width: 0.25rem;
    height: 0.25rem;
}

.container a {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    border-radius: 25px;
    padding: 20px;
    border: 2px solid whitesmoke;
    height: 20px;
    width: 150px;

    text-align: center;
    vertical-align: middle;
}
a:link {
    color: whitesmoke;

}
a:visited {
    color: white;
}

a:hover {
    color: rgb(55, 35, 155);

}


p {
    text-align: center;
    color: whitesmoke;
}

